.home-services {
  padding: 86px 0;
}
.home-services-titles h1 {
  font-weight: 600;
  color: #002345;
  line-height: 60px;
}
.home-services-titles span {
  font-weight: 300;
}

.home-services-titles .default-title {
  width: 36%;
  text-align: center;
  background: transparent;
}

.home-services-btn {
  width: 60%;
  padding: 15px 30px;
}

/* responsive starts */

@media only screen and (max-width: 768px) {
  .home-services-titles .default-title {
    width: 100%;
  }
  .home-services-titles h1 {
    font-size: 30px;
    width: 100%;
    line-height: 50px;
  }
  .home-services-btn {
    width: 100%;
    margin-top: 30px;
  }
}
