.main-login {
  width: 100%;
  height: 100%;
  min-height: 600px;
  background: url("https://i.ibb.co/T2pbsdP/bg7-l.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form-starts {
  display: flex;
  justify-content: center;
}
.main-form {
  width: 100%;
  background: #fff;
  margin: 60px 0;
  padding: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.brand-img {
  margin: auto;
  width: 50%;
  margin-bottom: 40px;
}
.form-login-inner .main-inputs {
  padding: 15px;
  margin-bottom: 10px;
}
.rem-section {
  display: flex;
  justify-content: space-between;
}
.forget a {
  text-decoration: none;
  font-weight: 700;
}
.login-btn button {
  display: block;
  width: 100%;
  margin: 30px 0;
}
.direct-login {
  display: flex;
  justify-content: space-between;
  width: 23%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.direct-login i {
  font-size: 30px;
  margin-right: 3px;
}
.direct-login span {
  font-size: 20px;
}
.direct-login .google,
.direct-login .github {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

/* Responsive starts here*/
@media only screen and (max-width: 768px) {
  .main-form {
    padding: 10px;
  }
  .rem-section {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .direct-login {
    width: 100%;
    justify-content: center;
  }
}
