@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

button {
  background: #1dbfcc;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 11px 34px;
  font-size: 16px;
  color: #fff;
  /* transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; */
}
button:hover {
  background: #06a3da;
}

img {
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
